{% extends 'base.html.twig' %}

{% block title %}PortefoBuild{% endblock %}

{% block body %}
    <div class="container">
        <div class="row text-center mt-5">
            <div class="col-12">
                <h1>Portefobuild</h1>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <p>Le portefobuild est un outil de génération de portefolio. Un portefolio est un CV mais sur une page WEB ce qui permet d'y avoir toujours accès (à condition d'avoir un accès internet) et cela permettra d'avoir d'avantage d'informations sur votre parcours ou vos compétences.</p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <p>Si vous avez déjà créé votre portefolio, vous pouvez vous connectez afin de modifier ou créer un nouveau portefolio sinon inscrivez vous ! </p>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-12">
                <button type="button" class="btn btn-primary">S'inscrire</button>
            </div>
        </div>
    </div>
{% endblock %}
